<!DOCTYPE html>
<html lang="nl" dir="ltr">
  {% include head.html %}
  <body>
    <style>
      .symptomen .links-container a.{{ page.id }}::before {
        opacity: 0;
      }
      .symptomen .links-container a.{{ page.id }} {
        font-weight: 500;
      }
    </style>
    {% include navigation.html %}
    <div class="page symptomen-pagina">
      {% include klachten-links.html %}
      <section class="wrapper content">
        <!-- <h1>{{ page.title }}</h1> -->
        {{ content }}
      </section>
      {% include footer.html %}
    </div>
  </body>
</html>
