<!DOCTYPE html>
<html lang="nl" dir="ltr">
  {% include head.html %}
  <body>
  <style>
    nav .pages a.{{ page.permalink }} {
      transition: none;
      color: rgba(255,255,255,.5);
    }
  </style>
    {% include navigation.html %}
  <div class="page">
    <section {% if page.cover-image %}style="background-image: url('/img/covers/{{ page.cover-image}}')"{% endif %} class="cover-image">
      <div class="pattern">
        <div class="wrapper">
          <div class="inhoud">
            <h1>{{ page.title }}</h1>
          </div>
        </div>
      </div>
    </section>
    <section class="wrapper content">
      {{ content }}
    </section>
    {% include footer.html %}
  </div>
  </body>
</html>
